mat-toolbar {
  font-size: 14px;
}

@media (min-width: 768px) {
  mat-toolbar {
    font-size: 19px;
  }
}

@media (min-width: 1024px) {
  mat-toolbar {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  mat-toolbar {
    font-size: 25px;
  }
}