mat-toolbar {
  font-size: 19px;
  height: 100px;
}

.menu-buttons {
  font-size: 15px;
}

.buttons, .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usuario-buttons {
  width: 130px;
  font-size: 15px;
  height: 30px;
}

.header {
  width: 100%;
  display: block;
  flex-direction: column;
  padding: 2px 2px;
  color: white;
}

@media (min-width: 768px) {
  mat-toolbar {
    font-size: 23px;
  }

  .menu-buttons {
    font-size: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .usuario-buttons {
    width: 150px;
    font-size: 16px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  mat-toolbar {
    font-size: 23px;
  }

  .usuario-buttons {
    width: 150px;
    font-size: 16px;
    height: 40px;
  }
}

@media (min-width: 1280px) {
  mat-toolbar {
    font-size: 27px;
  }

  .menu-buttons {
    font-size: 18px;
  }

  .usuario-buttons {
    width: 150px;
    font-size: 18px;
    height: 50px;
  }
}