header {
  color: rgb(118, 20, 179);
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
}

mat-expansion-panel, .list-card {
  margin: 8px;
}

mat-panel-title {
  font-size: 15px;
}

.solicitacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

mat-form-field, mat-label, mat-toolbar {
  width: 100%;
  font-size: 15px;
}

button {
  border-radius: 50px;
}

.table {
  overflow-y: hidden;
}

@media (min-width: 768px) {
  header {
    font-size: 19px;
  }

  .fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 7px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .preco-field {
    width: 500px;
  }

  mat-form-field, mat-label, button, mat-select, th, td, mat-toolbar {
    font-size: 16px;
  }   

}

@media (min-width: 1024px) {
  mat-form-field, mat-label, th, td, mat-toolbar {
    font-size: 17px;
  }
  
  button {
    margin-top: 10px;
    font-size: 16px;
    height: 40px;
  }
}

@media (min-width: 1280px) {
  mat-form-field, mat-label, th, td, mat-toolbar, mat-panel-title {
    font-size: 18px;
  }

  button {
    margin-top: 10px;
    font-size: 18px;
    height: 50px;
  }
}
