  <header>
    <span>Solicitante</span>
  </header>

  <main>
    <section>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="solicitacao">
                <mat-icon>playlist_add</mat-icon>
                <span>Nova Solicitação</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="formulario" (ngSubmit)="salvar()">
            <div class="fields">
              <mat-form-field style="margin-bottom: -0.9em">
                <mat-label>Nome do solicitante</mat-label>
                <input matInput formControlName="solicitante" name="solicitante" required>
              </mat-form-field>

              <mat-form-field style="margin-bottom: -0.9em">
                <mat-label>Descrição do item</mat-label>
                <input matInput formControlName="descricao" name="descricao" required>
              </mat-form-field>

              <mat-form-field style="margin-bottom: -0.9em" class="preco-field">
                <mat-label>Preço do produto</mat-label>
                <input matInput formControlName="preco" name="preco" required currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', precision: 2, decimal: ',', max: 99.99 }">
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Enviar
              Solicitação</button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <section>
      <mat-card class="list-card">
        <mat-toolbar color="primary">
          <span> Solicitações Realizadas </span>
        </mat-toolbar>
        
        <app-listas [solicitacoesFiltradas]="solicitacoes"></app-listas>
      
      </mat-card>
    </section>
  </main>

