header {
  color: rgb(118, 20, 179);
  margin: 10px;
}

.titulo-usuario {
  font-size: 15px;
  font-weight: 600;
}

mat-expansion-panel, .list-card {
  margin: 8px;
}

mat-panel-title {
  font-size: 15px;
}

  
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

mat-form-field, mat-label, mat-toolbar {
  width: 100%;
  font-size: 15px;
}

button {
  border-radius: 50px;
}

.table {
  overflow-y: hidden;
}

tr:hover {
  cursor: pointer;
  background-color: rgba(228, 196, 249, 0.379);
}

@media (min-width: 768px) {
  .titulo-usuario {
    font-size: 19px;
  }

  .mensagem-usuario {
    font-size: 16px;
  }

  .fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 7px;
  }

  .preco-field {
    width: 500px;
  }

  mat-form-field, mat-label, button, mat-select, th, td, mat-toolbar {
    font-size: 16px;
  }   

}

@media (min-width: 1024px) {
  mat-form-field, mat-label, button, mat-select, th, td, mat-toolbar {
    font-size: 17px;
  }   

  button {
    margin-top: 10px;
    font-size: 16px;
    height: 40px;
  }

  .titulo-usuario {
    font-size: 21px;
  }

  .mensagem-usuario {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  mat-form-field, mat-label, button, mat-select, th, td, mat-toolbar {
    font-size: 18px;
  }   

  button {
    margin-top: 10px;
    font-size: 18px;
    height: 50px;
  }

  .titulo-usuario {
    font-size: 25px;
  }

  .mensagem-usuario {
    font-size: 20px;
  }
  
  .titulo-usuario, span {
    font-size: 18px;
  }
}
